html, body {
  margin: 0;
  padding: 40px;
}
body{
    margin: 0;

    background-image: linear-gradient(40deg,#565c3d,#111111, #111111 , #111111, #AABF4C);
}
.corpo{
    min-height: 100vh;
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
header{
  top: 0;
 left: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 80px;
    background: rgba(17, 17, 17, 0.11);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Safari */
  box-shadow: 1px 1px 10px #0000001c;
}
header #logo{
    position: absolute;
    left: 90px;
    color: #d8ff28;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header #menu{
    position: absolute;
    right: 100px;
}
.traco::before{
    content: "";
    height: 5px;
    width: 5px;
    position: fixed;
    top: 40px;
    transition: .8s;
    
}
.traco:hover::before{
    width: 80px;
    transition: .8s;
    background-color: #d8ff28;    
}
#menu ul{
    display: flex;
    flex-direction: row;
    gap: 100px;
    cursor: pointer;
}
#menu li{
    cursor: pointer;
list-style:none;
color: #fefffa;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#bot{
  position: relative;
   margin-bottom: 50px; 
    
}#bot h1{
  
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    text-align: left;
  margin-left: 0;

}
#bot h2{
  position: relative;
    top: -80px;
    text-align: left;
  margin-left: 0;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}
#text1{
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
     text-align: left;
  margin-left: 0;
  position: absolute;
  top: 160px;
  
  
}
#bot button{
 position: relative;
   top: -60px;
    width: 100px;
    border-radius:20px 40px;
    border: none;
    background-color: #dcf85e;
    padding: 5px 0px;
    color: #111111;
    
}
#video{
    padding: 20px;
    background-color: #36363681;
    border-radius: 20px;
    text-align: left;
    position: relative;
  
}
#video iframe{
  width: 100%;
}
#gift_card{
    background-color: #ffffff15;
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  position: relative;
  padding-top: 100px;
  margin-top: 30px;
  border-radius: 12px;
  justify-items: center;
  padding-bottom: 10px;
  

    
}
#gift_card a{
  right: 30px;
  color: #d8ff28;
}
#gift_card div{
    height: 285px;
    width: 160px;
    box-shadow: 1px 1px 10px #000000;
    
}
#gift_card button{
    
    width: 100px;
    border-radius:20px 40px;
    border: none;
    background-color: #dcf85e;
    padding: 5px 0px;
    color: #111111;
    left: 40px;

}
#gift_card h2{
  position: absolute;
    left: 30px;
    color: #fefffa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#gift_card h1{
    position: absolute;
    margin-top: 40px;
    left: 30px;
    font-size: 20px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#gift_card p{
    text-align: left;
    color: #d8ff28;
    z-index: 1;
position: absolute;
top: 245px;
left: 5px;
font-size: 13px;
text-shadow:-10px -5px 10px #000;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#redes_sociais{
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;
    height: 50px;
    text-align: left;
    left: -50px;

}
#redes_sociais ul{
    top: 65px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    left: -170px;
}
#redes_sociais li{
    scale: 0.4;
   width: 80px;
    list-style: none;
    height: 80px;
    border-radius: 15px;
    transition: .8s;
}
#redes_sociais li:hover{
    cursor: pointer;
    scale: .8;
    transition: .8s;
}
#instagram{
    background-image: url("instagram.svg");
    
  background-position: center;
  background-repeat: no-repeat;
}
#githube{
    background-image: url("github.svg");
    
  background-position: center;
  background-repeat: no-repeat;
}
#linkedin{
    background-image: url("linkedin.svg");
   
  background-position: center;
  background-repeat: no-repeat;
}
#banner{
height: 20rem;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.banner-texto{
  z-index: 2;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  left: 20px;
  bottom: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 10px #111111;
}
.banner-texto2{
  
  z-index: 2;
  color: #fff;
  font-size: 20px;
  left: 20px;
  bottom: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 10px #111111;
}
#xbox{
    background-image: url("imag/xbox.jpeg");
height: 300px;
    width: 180px;
    
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: .8s;
  position: relative;
  overflow: hidden;
  
  
}
#xbox h1{
    z-index: 1;
position: absolute;
top: 190px;
left: 5px;
text-shadow:-10px -5px 10px #000; 
}
#playstore{
    background-image: url("imag/googleplay.jpeg");
height: 300px;
    width: 180px;

    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: .8s;
  position: relative;
  overflow: hidden;
}
#playstore h1{
    z-index: 1;
position: absolute;
top: 190px;
left: 5px;
text-shadow:-10px -5px 10px #000;
}
#plastation{
    background-image: url("imag/paystation.jpeg");
height: 300px;
    width: 180px;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: .8s;
  position: relative;
  overflow: hidden;
}
#plastation h1{
    z-index: 1;
position: absolute;
top: 190px;
left: 5px;
text-shadow:-10px -5px 10px #000;
}
#callofduty{
    background-image: url("imag/callofduty.jpeg");
height: 300px;
    width: 180px;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: .8s;
  position: relative;
  overflow: hidden;
  
}
#callofduty h1{
    z-index: 1;
position: absolute;
top: 190px;
left: 5px;
text-shadow:-10px -5px 10px #000;
}
#minecraft{
    background-image: url("imag/minecraft.jpeg");
height: 300px;
    width: 180px;
    
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: .8s;
  position: relative;
  overflow: hidden;
}
#minecraft h1{
    z-index: 1;
position: absolute;
top: 190px;
left: 5px;
text-shadow:-10px -5px 10px #000;
}
#gta6{
    background-image: url("imag/gta6.jpeg");
height: 300px;
    width: 180px;
    
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: .8s;
  position: relative;
  overflow: hidden;
}
#gta6 h1{
    z-index: 1;
position: absolute;
top: 190px;
left: 5px;
text-shadow:-10px -5px 10px #000;
}
#callofduty:hover{
    scale: 1.1;
    transition: .8s;
}
#playstore:hover{
    scale: 1.1;
    transition: .8s;
}
#plastation:hover{
    scale: 1.1;
    transition: .8s;
}
#xbox:hover{
    scale: 1.1;
    transition: .8s;
}
#minecraft:hover{
    scale: 1.1;
    transition: .8s;
}
#gta6:hover{
    scale: 1.1;
    transition: .8s;
}
#gift_card div::after{
    content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: rgba(17, 17, 17, 0.856);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Safari */
  box-shadow: 1px 1px 10px #000;
}
/*TELA2: atrativo*/
.atrativo{
      display: grid;
  grid-template-columns: repeat(1, 1fr);
  
}
h2,
p,
.atrativo h1{
    
    color: #ffffff9a;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.atrativo a{
    color: #d8ff28;
}

#patrocinador{
    
    background: radial-gradient(
  closest-side at center,
  #f7f8f427,
  #f3f3f305
);
}
#patrocinador h3{
    text-align: left;
    color: #fefffa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    margin-left: 20px;
}
#patrocinador h3::after{
    content: "";
    background-image: url("verificado.svg");
    filter: invert(1);
    position: absolute;
    top: 2px;
    left: 140px;
    height: 20px;
    width: 20px;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.pessoas{
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    height: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.pessoas div{
    height: 80px;
    background-color: #ffffff44;
    border-radius: 20px;
    overflow: hidden;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    position: relative;
}
.pessoas img{
    background-color: #d8ff28;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.pessoas a{
    position: absolute;
    left: 300px;
}
@media (max-width:1500px){
  html, body{
    padding: 5px;
  }
  header #menu{
    display: none;
  }
  header #logo{
   left: 20px;
  }
  #banner-texto{
    position: relative;
    z-index: 9999;
    
  }
  #banner-texto2{
    
    position: relative;
        z-index: 9999;
  }
  #banner{
    z-index: 0;
    margin-top: 20px;
    position: relative;
  }
  #banner::before{
    content: "";
    position: absolute;
    background-color: #0e0e0e6c;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  #banner button{
    width: 100px;
    border-radius:20px 40px;
    border: none;
    background-color: #dcf85e;
    padding: 5px 0px;
    color: #111111;
  }
.corpo{
  
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 100px;
}
#gift_card{
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}
#gift_card div{
  width: 80%;  
}
#bot h1{
  position: relative;
  top: 60px;
  font-size: 50px;
}
#bot h2{
  font-size: 20px;
  position: relative;
  top: 90px;
}
#text1{
font-size: 15px;
position: relative;
  top: 90px;
}
.item{
position: absolute;
  background-color: #000000;
  bottom: 0;
  width: 100%;
}
.item button{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.item p{
  position: relative;
  left: 10px;
}
}