body{
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #111111;
    text-align: center;
    justify-items: center;

    align-content: center;
    min-height: 100vh;
    
}
h1{
    font-size: 18px;
    margin-bottom: 30px;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
section{
    background-color: #37393a9f;
    height: auto;
    padding: 10px;
    border-radius: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
input{
    padding: 5px;
    padding-left: 12px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #696969b7;
    color:#dbfcfd; 
}
input::placeholder{
    color: rgba(240, 248, 255, 0.473);
}
button{
    background-color:#169599 ;
    color: #dbfcfd;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 5px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
}
p{
    color: #dbfcfd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
input:focus{
  background-color: #696969b7;
  color: #dbfcfd;
  outline: none;
}
@media (max-width: 400px) {
  section {
    background-color: #37393a9f;
    height: auto;
    padding: 10px;
    border-radius: 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    scale: 1.4;

  }
}
