body{
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #111111;
    text-align: center;
    justify-items: center;

    align-content: center;
    min-height: 100vh;
    
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    position: relative;
    top: -100px;
}
p{
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}
p::after{
    top: 5px;
    left: 7px;
    content: "";
    background-image: url("Vector-seta.svg");
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .8s;
}
p:hover::after{
    left: 20px;
    transition: .8s;
    cursor: pointer;
}
img{
    position: relative;
}
div{
    cursor: pointer;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: #3f3f3f;
    height: 150px;
    width: 130px;
    border-radius: 30px;
    position: relative;   
    transition: .5s;
              
}

div::before{
    padding-top: 10px;
    background-color: rgba(24, 24, 24, 0.493);

    content: "";
    position: absolute;
    inset: 0;
    height: 150px;
    width: 130px;
    border-radius: 30px;
    display: inline-block;
    transition:.5s ease; 
}
div:hover::before{
    transition:.5s all;
    scale: 1.1;
    border-radius: 40px 80px;
    background-image: linear-gradient(45deg, #4c4c4d42, #acacac38);
}
div:not(:hover){
    scale: 1.0;
   transition:.5s all;
}
